@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
}
body{
    background-image: url(./Images/84965.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: 40%;
    color: #fff;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 48, 48, 0.8);
    z-index: -1;
}
.navbar{
    position: fixed;
    top: 10%;
    height: 80vh;
    width: 20%;
    display: flex;
    justify-content: center;
}
.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    left: 10px;
}
nav h1{
    color: white;
}
.list-items a li{
    padding: 15px 30px 15px 30px ;
    margin: 30px;
    color: rgb(255, 255, 255);
    list-style: none;
}
.list-items a{
    text-decoration:  none;
}

.list-items a :hover{
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}
.list-icon a.active{
    background-color: #fff;
    color: black;
}
.fixed{
    position: relative;
    left: 30%;
    top: 10vh;
    width: 70%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 20px 0px;
}
#home{
    padding-left:50px ;
}

#home img{
    width: 150px;
    border-radius: 20px;
}
.myhome{
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.myhome p{
    margin: 10px 0 10px 0;
}
.button{
    display: flex;
}
.read{
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    color: white;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><rect fill="%23FF156D" stroke="%23FF156D" stroke-width="15" stroke-linejoin="round" width="30" height="30" x="85" y="85" rx="0" ry="0"><animate attributeName="rx" calcMode="spline" dur="2" values="15;15;5;15;15" keySplines=".5 0 .5 1;.8 0 1 .2;0 .8 .2 1;.5 0 .5 1" repeatCount="indefinite"></animate><animate attributeName="ry" calcMode="spline" dur="2" values="15;15;10;15;15" keySplines=".5 0 .5 1;.8 0 1 .2;0 .8 .2 1;.5 0 .5 1" repeatCount="indefinite"></animate><animate attributeName="height" calcMode="spline" dur="2" values="30;30;1;30;30" keySplines=".5 0 .5 1;.8 0 1 .2;0 .8 .2 1;.5 0 .5 1" repeatCount="indefinite"></animate><animate attributeName="y" calcMode="spline" dur="2" values="40;170;40;" keySplines=".6 0 1 .4;0 .8 .2 1" repeatCount="indefinite"></animate></rect></svg>');
    background-size: contain; /* Adjust as needed */
    background-position: left; /* Adjust as needed */
    background-repeat: no-repeat; /* Ensure it doesn’t repeat */
}
.read:hover{
    background-color: #fff;
    color: black;
}
.more{
    margin-left: 20px;
    width: 150px;
    height: 40px;
}
.more:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.list-icon{
    display: none;
}
.list-icon a li{
    padding: 15px 30px 15px 30px ;
    margin: 30px;
    color: rgb(255, 255, 255);
    list-style: none;
}
.list-icon a{
    text-decoration:  none;
}

.list-icon a :hover{
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}
.jt{
    display: none;
}
@media (max-width: 1310px){
    .about{
        overflow-y: scroll;
        text-align: center;
        overflow-x: hidden;
        margin-top: -15px;
    }
    .about-us{
       flex-direction: column;
    }
    .about-para{
        margin-top: 400px;
        padding: 50px;
    }
    .about-img{
        display: flex;
    }
}

@media (max-width: 991px) {
    #home{
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
    }
    .button{
        padding-left: 50px;
    }
    .list-icon{
        display: block;
    }
    .list-items{
        display: none;
    }
    .myimg{
        margin-top: 0px;
    }
    .about{
        overflow-y: scroll;
        text-align: center;
        overflow-x: hidden;
        margin-top: -15px;
    }
    .about-us{
       flex-direction: column;
    }
    .about-para{
        margin-top: 400px;
        padding: 50px;
    }
    .about-img{
        display: flex;
    }
    
}
@media (max-width: 680px){
    #home{
        width: 70%;
        margin-top: 0px;
    }
    .myhome h1{
        text-align: center;
    }
    .myhome p{
        font-size: 15px;   
        text-align: center;   
    }
    .button{
        flex-direction: column;
    }
    .myimg{
        margin-top: 200px;
    }
    .jaga{
        display:none;
    }
    .jt{
        display: flex;
    }
    .more{
        margin-top: 20px;
        margin-left: 1px;
        border-radius: 0;
    }
    .about{
        overflow-y: scroll;
        text-align: center;
        overflow-x: hidden;
        margin-top: 0px;
    }
    .about-us{
       flex-direction: column;
    }
    .about-para{
        /* margin-top: 800px; */
        padding: 100px !important;
    }
   
    .copyright{
        left: 10%;
    }
}


/* About */
.about{
    display: none;
}
.about-us{
    display: flex;
}
.about-img{
    width: 500px;
}
.about-para h2{
    color: white;
    padding: 0 0 20px 0;
}
.about-para {
    color: white;
    padding-right: 20px;
    padding-left: 30px;
}



/* skill */
.skill{
    display: none;
    overflow-y: scroll;

}
#skill{
    padding-right: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 20px;
    
  }
  .box:hover{
    scale: 1.1;
    color:rgb(255, 255, 255);
    background-color: #2A1454;
    border: #8750F7 solid 2px;
  }
  .box:hover .skill-logo{
    background-color: #2A1454;
    border: #ffffff solid 2px;
  }
  .box h1{
    position: absolute;
    top: 5px;
  }
  .box p{
    position: absolute;
    bottom: 30px;
  }

  .box {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding:20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    height: 150px;
    position: relative;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.3);
    transition: 0.5s ease-in-out;
  }
  .skill-logo{
    position: absolute;
    width: 70px;
    right: -10px;
    top: -20px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    border: 3px solid aqua;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.3);
    transition: 0.5s ease-in-out;
    }

.hover-text{
    position: absolute;
    bottom: -100%; /* Start outside the bottom of the container */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.5s ease; /* Smooth transition for the sliding effect */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}    


.project{
    display: none;
    overflow-y: scroll;
}
.container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    padding: 20px;
    
  }
.box1 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    height: 250px;
    position: relative;
    transition: 0.5s ease-in-out;
    overflow-y: hidden;
  }
  .box1:hover{
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.3);
  }
  .box1 img{
    width: 100%;
    height: 100%;
  }
  @media (max-width: 680px){
    .container1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 40px;
        padding: 20px;
      }
      .box1{
        height: 200px;
      }
  }
  .project-detail {
    position: absolute;
    background: linear-gradient(to bottom, rgb(0, 174, 212,1),black);
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    bottom: -100%;
    transition: bottom 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box1:hover .project-detail{
    bottom: 0;
  }
  .link{
    color: white;
  }

  .contact{
    display: none;
    flex-direction: column;
    overflow-y: scroll;
  }
  .contact h1{
    color: white;
    font-size: 25px;
  }
  .contact1{
    display: flex;
    width: 100%;
  }
  .mycontact{
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .mycontact input{
    width: 90%;
    height: 40px;
    margin: 15px 0 15px 0;
    outline: none;
    padding: 20px;
    opacity: 0.5;
  }
  .submit{
    width: 90%;
    height: 40px;
     margin: 15px 0 15px 0;
     background-color: transparent; 
     color: white; 
     border: 1px solid;
  }
  .map{
    width: 600px;
    height: 400px;
}
  @media (max-width: 680px){
    .contact1{
        flex-direction: column;
    }
    .map{
        width: 350px;
    }
    .mycontact{
        width: 100%;
    }
  }